<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    {{>Nav}}
    <div class="stell-city-page-container">
        <h1 class="stell-city-page-title">Steel city</h1>
    </div>

    <div class="mini-title-container">

    </div>
    <p>Temperature today is: {{description}}°c</p>

    <h3 class="mini-steel-city-title">Steel City next 8 days of weather</h3>

    <ul class="temp-list-ul">
        {{#each dailyTemp}}
        <li class="temp-list-li">Daily average temperature {{this.temp.day}}°c </li>
        {{/each}}
        <img className="weather" src="http://openweathermap.org/img/wn/{{iconOne}}@2x.png" alt="weather icon" />
        <img className="weather" src="http://openweathermap.org/img/wn/{{iconTwo}}@2x.png" alt="weather icon" />
             <img className="weather" src="http://openweathermap.org/img/wn/{{iconThree}}@2x.png" alt="weather icon" />
                  <img className="weather" src="http://openweathermap.org/img/wn/{{iconFour}}@2x.png" alt="weather icon" />
                       <img className="weather" src="http://openweathermap.org/img/wn/{{iconFive}}@2x.png" alt="weather icon" />
                            <img className="weather" src="http://openweathermap.org/img/wn/{{iconSix}}@2x.png" alt="weather icon" />
                                 <img className="weather" src="http://openweathermap.org/img/wn/{{iconSeven}}@2x.png" alt="weather icon" />
                                      <img className="weather" src="http://openweathermap.org/img/wn/{{iconEight}}@2x.png" alt="weather icon" />
    </ul>


</body>

</html>